In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
# reading the csv file
df=pd.read_csv("datasets/this_is_only_for_reference.csv")

In [3]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [4]:
# to check for how many NaN values exist initially
df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [5]:
# removing some redundant coloumns 
# we delete the coloumn containing HDI for year from the dataset as around 70% of data is not fit for analysis
del df['HDI for year']
# we delete the coloumn 'country-year' as it a repetation of the other coloumns
del df['country-year']

In [6]:
tot_size=len(df)

In [7]:
#randomly replacing some values in the dataframe to NaN
for j in df: 
    for i in range(int(0.01*tot_size)):
        rand_int=random.randint(1,tot_size)
        df[j][rand_int]=np.nan

/home/anand/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/anand/.local/lib/python3.6/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
# to check for how many NaN values exist after modification to dataset
df.isnull().sum()

country               277
year                  277
sex                   278
age                   276
suicides_no           276
population            278
suicides/100k pop     277
 gdp_for_year ($)     277
gdp_per_capita ($)    278
generation            278
dtype: int64

In [9]:
#categorical data
categorical_data=["country","sex","generation","age"]

In [10]:
#forward fill: this is used to replace  Nan's encountered with its previous row values
for j in categorical_data:
    df[j].fillna( method ='ffill',inplace=True)

In [11]:
#to check if all categorical Nan values are filled 
df.isnull().sum()

country                 0
year                  277
sex                     0
age                     0
suicides_no           276
population            278
suicides/100k pop     277
 gdp_for_year ($)     277
gdp_per_capita ($)    278
generation              0
dtype: int64

In [12]:
#converting the data in coloumn gdp_for_year to numeric datatype
k=0
for i in df[' gdp_for_year ($) ']:
    df[' gdp_for_year ($) '][k]=str(i).replace(',','')
    k=k+1

/home/anand/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [13]:
#numerical data
numerical_data=["year","suicides_no","suicides/100k pop",' gdp_for_year ($) ',"gdp_per_capita ($)"]

In [14]:
##this chunk of code replaces all the Nans encountered with the mean of the respective coloumn
for k in numerical_data:
    avg=df.mean()
    df.fillna(avg,inplace=True)

In [15]:
#to check if all numeric Nan values are filled 
df.isnull().sum()

country               0
year                  0
sex                   0
age                   0
suicides_no           0
population            0
suicides/100k pop     0
 gdp_for_year ($)     0
gdp_per_capita ($)    0
generation            0
dtype: int64

In [ ]:
#none of the coloumns are containing NaN

In [16]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987.0,male,15-24 years,21.0,312900.0,6.71,2156624900,796.0,Generation X
1,Albania,1987.0,male,35-54 years,16.0,308000.0,5.19,2156624900,796.0,Silent
2,Albania,1987.0,female,15-24 years,14.0,289700.0,4.83,2156624900,796.0,Generation X
3,Albania,1987.0,male,75+ years,1.0,21800.0,4.59,2156624900,796.0,G.I. Generation
4,Albania,1987.0,male,25-34 years,9.0,274300.0,3.28,2156624900,796.0,Boomers

In [ ]:
df.to_csv("final_data.csv")